*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/Makefile
/Makefile.in
/install-tree

/libcrbtree.so.0
/src/crbtree.pc

/test-api
/test-basic
/test-map
