*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.trs
*~

/.config.args
/.libs/
/*.tar.xz
/Makefile
/Makefile.in
/autom4te.cache/
/aclocal.m4
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
!/m4/attributes.m4
/src/.deps/
/src/.dirstamp
/stamp-*
/test-api
/test-basic
/test-map
